<% layout('base/base') %>

<div class="flex-1 flex mb-20 mt-10">
  <div
    class="flex-1 flex flex-col bg-body-background dark:bg-body-background-dark rounded-md border border-black/20 dark:border-black/30 shadow-md overflow-hidden"
  >
    <div class="w-full bg-gray-400/30 p-2 flex justify-between items-center">
      <div>
        <a
          href="/cartoes/cadastrar"
          class="px-3 py-1 border border-gray-400/50 bg-body-background dark:bg-gray-400/30 dark:border-black/20 rounded-md hover:!bg-gray-400/20"
          >Cadastrar</a
        >
      </div>
      <div class="flex gap-5">
        <form action="/cartoes" data-swup-form class="flex gap-3">
          <div>
            <p class="text-sm">Páginas: <%= numPag %></p>
          </div>
          <div class="relative h-10 w-full">
            <input
              class="peer h-full w-full rounded-[7px] border dark:text-body-text-dark border-gray-200 dark:border-gray-600 border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 placeholder-shown:dark:border-t-gray-600 focus:border-1 focus:border-gray-400 focus:dark:border-gray-600 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50"
              placeholder=" "
              id="search-input"
              name="offset"
              autocomplete="off"
            />
            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 peer-focus:before:border-t-1 before:border-gray-200 dark:before:border-gray-600 flex h-full w-full select-none text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200 dark:after:border-gray-600 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-400 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-body-text dark:peer-focus:text-body-text-dark peer-focus:before:border-l-1 peer-focus:before:border-gray-400 dark:peer-focus:before:border-gray-600 peer-focus:after:border-t-1 peer-focus:after:border-r-1 peer-focus:after:border-gray-400 dark:peer-focus:after:border-gray-600 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-400"
            >
              N° Pag
            </label>
            <button
              class="absolute right-2 top-2 text-2xl text-gray-700 dark:text-gray-200 peer-placeholder-shown:text-gray-400"
              type="submit"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"
                />
              </svg>
            </button>
          </div>
        </form>
        <form action="/cartoes" class="w-full max-w-[24rem]" data-swup-form>
          <div class="relative h-10 w-full">
            <input
              class="peer h-full w-full rounded-[7px] border dark:text-body-text-dark border-gray-200 dark:border-gray-600 border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 placeholder-shown:dark:border-t-gray-600 focus:border-1 focus:border-gray-400 focus:dark:border-gray-600 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50"
              placeholder=" "
              id="search-input"
              name="nome"
              autocomplete="off"
            />
            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 peer-focus:before:border-t-1 before:border-gray-200 dark:before:border-gray-600 flex h-full w-full select-none text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200 dark:after:border-gray-600 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-400 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-body-text dark:peer-focus:text-body-text-dark peer-focus:before:border-l-1 peer-focus:before:border-gray-400 dark:peer-focus:before:border-gray-600 peer-focus:after:border-t-1 peer-focus:after:border-r-1 peer-focus:after:border-gray-400 dark:peer-focus:after:border-gray-600 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-400"
            >
              Nome
            </label>
            <button
              class="absolute right-2 top-2 text-2xl text-gray-700 dark:text-gray-200 peer-placeholder-shown:text-gray-400"
              type="submit"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      class="flex-1 flex flex-col w-full h-full overflow-y-auto overflow-x-hidden divide-y-2 dark:divide-gray-500/70"
    >
      <% cartoes.forEach(function(cartao){ %>
      <a
        href="/cartao?cardid=<%= cartao.cardId %>"
        class="w-full inline-flex p-2 hover:bg-gray-400/20"
      >
        <span><%= cartao.nome %> - <%= cartao.cardId %></span>
      </a>
      <% }); %>
    </div>
  </div>
</div>
